.title {
  text-align: center;
  font-size: 32px;

  margin-bottom: 12px;
}

.listItem {
  font-size: 28px;
  margin-bottom: 8px;
}
.number {
  margin-left: 20px;

  color: rgb(0, 255, 123);
  font-weight: 600;

  text-shadow: 3px 2px 0 #4f4f4f;
  user-select: none;
}
